*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.phones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

}

img{
    width: 20px;
}

.search-bar{
    /* margin-left: auto;
    margin-right: 0; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}